---
import Layout from '../../layouts/Layout.astro';
import PageHeader from '../../components/PageHeader.astro';
import Team from '../../components/Team.astro';


---

<Layout>
    <section id="#team">
        <PageHeader 
            title="Our team"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
            badgeText="Meet the team"
        />

        <Team />
    </section>
</Layout>