<footer>
    <span>&copy; 2026 Ora. All rights reserved.</span>

    <nav>
        <a href="./">Home</a>
        <a href="./functionalities">Functionalities</a>
        <a href="./team">Team</a>
        <a href="./contact">Contact</a>
    </nav>
</footer>

<style>
    footer {
        padding: 40px 120px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 0.9rem;
        color: var(--text-color-secondary);
    }

    nav {
        display: flex;
        gap: 20px;
    }

    a:hover {
        color: var(--primary-color);
        text-decoration: underline;
        text-underline-offset: 2px;
    }
</style>